
    <mat-form-field>
      <textarea matInput [(ngModel)]="reportModel.description" #report_description="ngModel" name="report_description" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="reportModel.prescription" #report_prescription="ngModel" name="report_prescription" placeholder="Prescription"></textarea>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="reportModel.nextDate" #report_nextdate="ngModel" name="report_nextdate" placeholder="Next Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="reportModel.time" #report_time="ngModel" name="report_time" placeholder="Time">
    </mat-form-field>
  


  
    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="AddReport()">Submit</button>

