<div class="main-content" *ngFor="let data of dataModel">
  <div class="container-fluid" *ngIf="dataModel">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                             <!-- placeholder="Company (disabled)" -->

                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input *ngIf="isPatient" matInput name="fullName" [(ngModel)]="patientModel.fullName" placeholder="Name" type="text" value="{{ data.fullName }}">  
                                  <input id="docName" *ngIf="!isPatient" matInput name="doctorName" [(ngModel)]="doctorModel.doctorName" placeholder="Name" type="text">          
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" aria-placeholder="asd">
                                  <input *ngIf="isPatient" matInput name="email" [(ngModel)]="patientModel.email" placeholder="Email" type="text" value="{{ data.email }}">
                                  <input *ngIf="!isPatient" matInput name="email" [(ngModel)]="doctorModel.email" placeholder="Email" type="text" value="{{ data.email }}">
                                </mat-form-field>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input *ngIf="isPatient" matInput name="dob" [(ngModel)]="patientModel.dob" placeholder="Date Of Birth" type="text" value="{{ data.dob }}">
                                  <input *ngIf="!isPatient" name="arrivalTime" [(ngModel)]="doctorModel.arrivalTime" matInput placeholder="Arival Time" type="text" value="">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input *ngIf="isPatient" matInput name="gender" [(ngModel)]="patientModel.gender" placeholder="Gender" type="text" value="{{ data.gender }}">
                                  <input *ngIf="!isPatient"  matInput name="departureTime" [(ngModel)]="doctorModel.departureTime" placeholder="Departure Time" type="text" value="">
                                </mat-form-field>
                                
                                <mat-form-field *ngIf="!isPatient"  class="example-full-width">
                                  <input matInput name="patientCount" [(ngModel)]="doctorModel.patientCount" placeholder="Limit Patient Count" type="text" value="">
                              </mat-form-field>
                                
                              </div>
                              <div *ngIf="isPatient" class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput name="telephone" [(ngModel)]="patientModel.telephone" placeholder="Telephone" type="text" value="{{ data.telephone }}">
                                    
                                  </mat-form-field>
                              </div>
                          </div>
                          
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="updateProfile()">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile" *ngIf="!isPatient">
                
                  <div class="card-body">
            
                      <h4 class="card-title">Set Availability</h4>
                      
                      <div class="toggle">
                          <p *ngIf="checked">Available</p>
                          <p *ngIf="!checked">Not Available</p>
                        <mat-slide-toggle [checked] = "checked" (change)="changed($event)"></mat-slide-toggle>
                      </div>
                      <div class="set">.
                          <a class="btn btn-danger btn-round" (click)="setAvailability(data._id)">Set</a>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
