<!-- <form #appointmentForm="ngForm">
    <div class="form-group">
      <label for="appointment_name" class="text-black">Full Name</label>
      <input required [(ngModel)]="appointmentModel.fullName" #appointment_name="ngModel" name="appointment_name" type="text" class="form-control" id="appointment_name">
      <div class="alert alert-danger" *ngIf="appointment_name.touched && !appointment_name.valid">Full name is required.</div>
    </div>
    <div class="form-group">
      <label for="appointment_email" class="text-black">Email</label>
      <input required [(ngModel)]="appointmentModel.email" #appointment_email="ngModel" name="appointment_email" type="text" class="form-control" id="appointment_email">
      <div class="alert alert-danger" *ngIf="appointment_email.touched && !appointment_email.valid">Email is required.</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="appointment_date" class="text-black">Date</label>
          <input required [(ngModel)]="appointmentModel.date" #appointment_date="ngModel" name="appointment_date" type="date" class="form-control" id="appointment_date">
          <div class="alert alert-danger" *ngIf="appointment_date.touched && !appointment_date.valid">Date is required.</div>
        </div>    
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="appointment_time" class="text-black">Time</label>
          <input required [(ngModel)]="appointmentModel.time" #appointment_time="ngModel" name="appointment_time" type="time" class="form-control" id="appointment_time">
          <div class="alert alert-danger" *ngIf="appointment_time.touched && !appointment_time.valid">Time is required.</div>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="doctors">

        <select [(ngModel)]="appointmentModel.doctor" #doctor="ngModel" name="doctor" class="form-control" id="sel12">
            <option>Select Your Doctor</option>
            <option *ngFor="let doctor of doctors">{{ doctor.doctorName }}</option>
        </select>

    </div>

    <div class="form-group">
      <label for="appointment_message" class="text-black">Message</label>
      <textarea required [(ngModel)]="appointmentModel.message" #appointment_message="ngModel" name="appointment_message" id="appointment_message" class="form-control" cols="30" rows="3"></textarea>
      <div class="alert alert-danger" *ngIf="appointment_message.touched && !appointment_message.valid">Message is required.</div>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block">
      
    </div>
  </form> -->

    <mat-form-field *ngIf="doctors">
        <mat-label>Select Doctor</mat-label>
        <mat-select [(ngModel)]="appointmentModel.doctor" #doctor="ngModel" name="doctor">
          <mat-option *ngFor="let doctor of doctors" [value]="doctor.doctorName" (onSelectionChange)="getPatientCount(doctor.doctorName, doctor.patientCount)">
            {{ doctor.doctorName }}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput required [(ngModel)]="appointmentModel.email" #appointment_email="ngModel" name="appointment_email" placeholder="Email">
        <div class="alert alert-danger" *ngIf="appointment_email.touched && !appointment_email.valid">Email is required.</div>
    </mat-form-field>
    <mat-form-field>
        <input matInput required [(ngModel)]="appointmentModel.date" #appointment_date="ngModel" name="appointment_date" [matDatepicker]="picker" placeholder="Appointment Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <div class="alert alert-danger" *ngIf="appointment_date.touched && !appointment_date.valid">Date is required.</div>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="appointmentModel.time" #appointment_time="ngModel" name="appointment_time" type="time" placeholder="Time">
        <div class="alert alert-danger" *ngIf="appointment_time.touched && !appointment_time.valid">Time is required.</div>
    </mat-form-field>
    
      <mat-form-field>
        <textarea matInput required [(ngModel)]="appointmentModel.message" #appointment_message="ngModel" name="appointment_message" placeholder="Message"></textarea>
        <div class="alert alert-danger" *ngIf="appointment_message.touched && !appointment_message.valid">Message is required.</div>
      </mat-form-field>
      
    
  
  
    
      <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Submit</button>
  
  