<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" *ngIf="appointmentModel">
                              <thead class=" text-primary">
                                  <th>
                                      Patient Name
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Time
                                  </th>
                                  <th>
                                      Message
                                  </th>
                                  <th>
                                      Created Date
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let appointment of appointmentModel">
                                      <td>
                                          {{ appointment.fullName }}
                                      </td>
                                      <td>
                                          {{ appointment.date }}
                                      </td>
                                      <td>
                                          {{ appointment.time }}
                                      </td>
                                      <td>
                                          {{ appointment.message }}
                                      </td>
                                      <td class="text-primary">
                                          {{ appointment.create_date }}
                                      </td>
                                  </tr>
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
