.bg {
    /* The image used */
    background-image: url("/assets/images/medical.jpg");
  
    /* Half height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  