<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" *ngIf="appointmentModel">
                              <thead class=" text-primary">
                                  <th>
                                      Patient Name
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Time
                                  </th>
                                  <th>
                                      Message
                                  </th>
                                  <th>
                                      Created Date
                                  </th>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let appointment of appointmentModel">
                                      <td>
                                          {{ appointment.fullName }}
                                      </td>
                                      <td>
                                          {{ appointment.date }}
                                      </td>
                                      <td>
                                          {{ appointment.time }}
                                      </td>
                                      <td>
                                          {{ appointment.message }}
                                      </td>
                                      <td class="text-primary">
                                          {{ appointment.create_date }}
                                      </td>
                                      <td>
                                        <mat-chip-list aria-label="Fish selection" *ngIf="appointment.status === 'pending'">
                                            <mat-chip color="accent" selected>{{ appointment.status }}</mat-chip>
                                        </mat-chip-list>
                                        <mat-chip-list aria-label="Fish selection" *ngIf="appointment.status === 'accepted'">
                                            <mat-chip color="primary" selected>{{ appointment.status }}</mat-chip>
                                        </mat-chip-list>
                                        <mat-chip-list aria-label="Fish selection" *ngIf="appointment.status === 'rejected'">
                                            <mat-chip color="warn" selected>{{ appointment.status }}</mat-chip>
                                        </mat-chip-list>
                                        <mat-chip-list aria-label="Fish selection" *ngIf="appointment.status === 'finished'">
                                            <mat-chip>{{ appointment.status }}</mat-chip>
                                        </mat-chip-list>
                                      </td>
                                      <td *ngIf="!isPatient">
                                        <button mat-stroked-button color="primary" (click)="setStatus(appointment._id, 'accepted', appointment.userId)">Accept</button>
                                        <button mat-stroked-button color="warn" (click)="setStatus(appointment._id, 'rejected', appointment.userId)">Reject</button>
                                        <button mat-stroked-button (click)="setStatus(appointment._id, 'finished', appointment.userId)">Finish</button>
                                      </td>
                                      <td *ngIf="isPatient">
                                        <button mat-stroked-button color="warn" (click)="cancelAppointment(appointment._id)">Cancel Appointment</button>
                                      </td>
                                  </tr>
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
